# --------------------------------
# Geyser Configuration File
#
# A bridge between Minecraft: Bedrock Edition and Minecraft: Java Edition.
#
# GitHub: https://github.com/GeyserMC/Geyser
# Discord: https://discord.gg/geysermc
# Website: https://geysermc.org/
# --------------------------------

bedrock:
  # The IP address that will listen for connections.
  # Generally, you should only uncomment and change this if you want to limit what IPs can connect to your server.
  #address: 0.0.0.0
  # The port that will listen for connections
  port: 19132
  # Some hosting services change your Java port everytime you start the server and require the same port to be used for Bedrock.
  # This option makes the Bedrock port the same as the Java port every time you start the server.
  # This option is for the plugin version only.
  clone-remote-port: false
  # The MOTD that will be broadcasted to Minecraft: Bedrock Edition clients. This is irrelevant if "passthrough-motd" is set to true
  # If either of these are empty, either the server will crash or an error will be thrown depending on if the advanced ping passthrough is enabled or not.
  motd1: "{{ minecraft_motd | default('PaperMC + Geyser') }}"
  motd2: "Cross-Platform Minecraft Server"
  # The Server Name that will be sent to Minecraft: Bedrock Edition clients. This is visible in both the pause menu and the settings menu.
  server-name: "{{ minecraft_server_name | default('Geyser') }}"
  # How much to compress network traffic to the Bedrock client. The higher the number, the more CPU usage used, but
  # the smaller the bandwidth used. Does not have any effect below -1 or above 9. Set to -1 to disable.
  compression-level: 6
  # Whether to enable PROXY protocol or not for clients. You DO NOT WANT this feature unless you know what you're doing.
  enable-proxy-protocol: false

remote:
  # The IP address of the remote (Java Edition) server
  # If it is "auto", for standalone version the remote address will be set to 127.0.0.1,
  # for plugin versions, Geyser will attempt to find the best address to connect to.
  address: auto
  # The port of the remote (Java Edition) server
  # For plugin versions, if address has been set to "auto", the port will also follow the server's listening port.
  port: 25565
  # Authentication type. Can be offline, online, or floodgate (see https://github.com/GeyserMC/Geyser/wiki/Floodgate).
  # For plugin versions, it's recommended to keep the `address` field to "auto" so Geyser will automatically configure address, port, and auth-type.
  auth-type: floodgate

# Floodgate uses encryption to ensure use from authorised sources.
# This should point to the public key generated by Floodgate (Bukkit) - do not point to the private key.
floodgate-key-file: /data/plugins/floodgate/key.pem

# The Xbox/Minecraft Bedrock username is the key for the Java server auth-info.
# This allows automatic configuration/login to the remote server
# If you are in online mode, you can use this section to store your own auth info to be able to connect
# For example, when using Geyser on a personal/local server without hosting a separate auth server.
usernames:
  # Uncomment the lines below to add an example
  #bedrock_username: java_username
  #blueberries: HydroniumHydra

# Specify how many seconds each player has to log in before they will be kicked.
# If you do not want a login timeout, set this to 0. This feature only works in online mode.
# If this value is 0 or less, then there will be no login timeout.
login-timeout: 30

# For online mode authentication type.
saved-user-logins:
  # Stores a full file path to where user login info will be saved.
  # If you want this to be in the same directory as this config, not specify any path at the beginning.
  # If the file doesn't exist, it will be created.
  file: ""
  # How often to save the login cache to disk in minutes.
  # This does tinker with performance to some degree, so it's not frequent by default.
  save-frequency: 60

# For offline mode servers or proxy pass-through. Authorization will be done with the below table.
# In online mode, the UUID will be Java's encoded UUID that is used everywhere.
# In offline mode, the UUID will be a dashed UUID of the player's username.
# In Floodgate, the UUID will be the xuid in lowercase format with dashes inserted to resemble a UUID.
# For example: 12345678-1234-1234-1234-123456789012
pending-authentication-timeout: 120

# Command to run when a Bedrock player connects for the first time.
# If you want this command to be run every time a Bedrock player joins, set this to an empty string.
# This command will be executed by the console.
command-suggestions: true

# The following three options enable "ping passthrough" - the MOTD, player count and/or protocol name gets retrieved from the Java server.
# Relay the MOTD from the remote server to Bedrock players.
passthrough-motd: false
# Relay the protocol name (e.g. BungeeCord [X.X], Paper 1.X) - only really useful when using a custom protocol name!
# This will also show up on sites like MCSrvStat. <mcsrvstat.us>
passthrough-protocol-name: false
# Relay the player count and max players from the remote server to Bedrock players.
passthrough-player-counts: false
# Enable LEGACY ping passthrough. There is no need to enable this unless your MOTD or player count does not appear properly.
# This option does nothing on standalone.
legacy-ping-passthrough: false
# How often to ping the remote server, in seconds. Only relevant for standalone or legacy ping passthrough.
# Increase if you are getting BrokenPipe exceptions.
ping-passthrough-interval: 3

# Maximum number of players that can connect to this Geyser instance. Set to -1 to not limit player count.
max-players: 100

# If debug messages should be sent through console
debug-mode: false

# Thread pool size for network operations (Bedrock listener and connections).
general-thread-pool: 32

# Allow third party cosmetics to be visible. Currently allowing:
# OptiFine capes, LabyMod capes, 5Zig capes and MinecraftCapes
allow-third-party-capes: true

# Allow third party deadmau5 ears to be visible. Currently allowing:
# MinecraftCapes
allow-third-party-ears: false

# Allow a fake cooldown indicator to be sent. Bedrock players do not see a cooldown as they still use 1.8 combat
show-cooldown: title

# Controls if coordinates are shown to players.
show-coordinates: true

# The default locale if we dont have the one the client requested. Uncomment to not use the default system language.
# default-locale: en_us

# Configures if chunk caching should be enabled or not. This keeps an individual
# record of each block the client loads in. This feature does allow for a few things
# such as block break animations to be shown properly and reduces bandwidth used when
# chunks are loaded, but can eat up a considerable amount of RAM.
cache-chunks: true

# Specify how many days images will be cached to disk to save downloading them from the internet.
# A value of 0 is disabled. https://wiki.geysermc.org/geyser/custom-skulls/
cache-images: 0

# Allows custom skulls to be displayed. Keeping them enabled may cause a performance decrease on older/weaker devices.
allow-custom-skulls: true

# The maximum number of custom skulls to be displayed per player. Increasing this may decrease performance on weaker devices.
max-visible-custom-skulls: 128

# Bedrock prevents building and displaying blocks above Y127 in the Nether -
# enabling this config option works around that by changing the Nether dimension ID
# to the End ID. The main downside to this is that the sky will resemble that of the End sky.
above-bedrock-nether-building: false

# Force clients to load all resource packs if there are any.
# If set to false, it allows the user to disconnect from the server if they don't
# want to download the resource packs.
force-resource-packs: true

# Allows Xbox achievements to be unlocked.
# THIS DISABLES ALL COMMANDS FROM SUCCESSFULLY RUNNING FOR BEDROCK IN-GAME, as well as disabling certain blocks and items.
xbox-achievements-enabled: false

# bStats is a stat tracker that is entirely anonymous and tracks only basic information
# about Geyser, such as how many people use it and their system info.
# You can learn more about bStats here: https://bstats.org/.
# https://bstats.org/plugin/server-implementation/GeyserMC
metrics:
  # If metrics should be enabled
  enabled: true
  # UUID of server, don't change!
  uuid: generateduuid

# DO NOT TOUCH!
config-version: 4