OPENCLAW_GATEWAY_TOKEN={{ openclaw_gateway_token }}
OPENROUTER_API_KEY={{ openclaw_openrouter_api_key }}
ANTHROPIC_API_KEY={{ openclaw_anthropic_api_key }}
OPENAI_API_KEY={{ openclaw_openai_api_key }}
MATRIX_PASSWORD={{ openclaw_matrix_password }}
TELEGRAM_BOT_TOKEN={{ openclaw_telegram_bot_token }}
BRAVE_API_KEY={{ openclaw_brave_api_key | default('') }}
MISSKEY_TOKEN={{ openclaw_misskey_token | default('') }}
MISSKEY_BETA_TOKEN={{ openclaw_misskey_beta_token | default('') }}
OPENCLAW_DISABLE_BONJOUR=1
