OPENCLAW_GATEWAY_TOKEN={{ openclaw_gateway_token }}
KIMI_API_KEY={{ openclaw_kimi_api_key }}
DISCORD_WEBHOOK_URL={{ openclaw_discord_webhook_url }}
DISCORD_BOT_TOKEN={{ openclaw_discord_bot_token }}
MATRIX_PASSWORD={{ openclaw_matrix_password }}
