OPENCLAW_GATEWAY_TOKEN={{ openclaw_gateway_token }}
OPENCODE_API_KEY={{ openclaw_opencode_api_key }}
OPENAI_API_KEY={{ openclaw_openai_api_key }}
TELEGRAM_BOT_TOKEN={{ openclaw_telegram_bot_token }}
TAVILY_API_KEY={{ openclaw_tavily_api_key | default('') }}
OPENCLAW_DISABLE_BONJOUR=1
