tunnel: <Tunnel-UUID>
credentials-file: /home/taka/.cloudflared/<Tunnel-UUID>.json
origincert: /home/taka/.cloudflared/cert.pem
protocol: http2
dns:
  upstreams:
    - 127.0.0.1:5353
retries: 5
timeout: 5s
compression: true
noTLSVerify: false
max_backoff: 15s
connection_strategy: "race"
originRequest:
  disableChunkedEncoding: true
  connectTimeout: 2s
  keepAliveTimeout: 15s
  http2Origin: true
  tcpKeepAlive: 15s
  noHappyEyeballs: true
metrics: localhost:49312

ingress:
  - hostname: {{ domain }}
    service: http://localhost:8080
  - hostname: bypass.{{ domain }}
    service: http://localhost:8080
  - hostname: {{ searxng_server_name }}
    service: http://localhost:8082
  - hostname: {{ synapse_server_name }}
    service: http://localhost:8008
  - hostname: {{ element_server_name }}
    service: http://localhost:8081
  - hostname: {{ ctfd_server_name }}
    service: http://localhost:8000
  - hostname: {{ minio_api_server_name }}
    service: http://localhost:9000
  - hostname: {{ minio_web_server_name }}
    service: http://localhost:9001
  - hostname: {{ jitsi_server_name }}
    service: http://localhost:8003
    originRequest:
      noTLSVerify: true
      tlsTimeout: 10s
      httpHostHeader: {{ jitsi_server_name }}
      http2Origin: true
      disableChunkedEncoding: false
      connectTimeout: 30s
      keepAliveTimeout: 90s
      keepAliveConnections: 100
      tcpKeepAlive: 30s
      noHappyEyeballs: false
  - hostname: {{ grafana_server_name }}
    service: http://localhost:3000
  - hostname: {{ vikunja_server_name }}
    service: http://localhost:3456
  - hostname: {{ cryptpad_server_name }}
    service: http://localhost:3333
  - hostname: {{ outline_server_name }}
    service: http://localhost:3004
  - hostname: {{ uptime_server_name }}
    service: http://localhost:3009
  - hostname: {{ zitadel_server_name }}
    service: http://localhost:8993
    originRequest:
      noTLSVerify: true
      http2Origin: true
  - hostname: {{ mcaptcha_server_name }}
    service: http://localhost:7493
  - hostname: {{ neo_quesdon_server_name }}
    service: http://localhost:3025
  - hostname: {{ lemmy_server_name }}
    service: http://localhost:1236
  - service: http_status:404