mode: iptables
pid_dir: /var/run/
update_frequency: 10s
log_mode: file
log_dir: /var/log/
log_level: info
api_url: http://127.0.0.1:8180/
api_key: "{{ bouncer_api_key }}"
deny_action: DROP
deny_log: true