whitelist:
  reason: "Trusted IPs"
  ip:
    - "100.64.0.0/10"  # Tailscale CIDR
    {% for ip in all_tailscale_ips %}
    - "{{ ip }}"
    {% endfor %}
    {% for ip in cloudflare_region1_ips_v4 %}
    - "{{ ip }}"
    {% endfor %}
    {% for ip in cloudflare_region2_ips_v4 %}
    - "{{ ip }}"
    {% endfor %}
    {% for ip in cloudflare_region1_ips_v6 %}
    - "{{ ip }}"
    {% endfor %}
    {% for ip in cloudflare_region2_ips_v6 %}
    - "{{ ip }}"
    {% endfor %}