services:
  dnscrypt-proxy:
    image: klutchell/dnscrypt-proxy:latest
    ports:
      - "53:5053/udp"
      - "53:5053/tcp"
    volumes:
      - /opt/dnscrypt-proxy/config:/config
    user: nobody:nogroup
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "dig @127.0.0.1 -p 5053 google.com || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - dnscrypt
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  dnscrypt:
    name: dnscrypt
    driver: bridge