{
  "Server": {
    "PublicIp": "{{ impostor_server_name }}",
    "PublicPort": {{ impostor_playit_port }},
    "ListenIp": "0.0.0.0",
    "ListenPort": 22023
  },
  "HttpServer": {
    "Enabled": true,
    "ListenIp": "0.0.0.0",
    "ListenPort": 22023
  },
  "AntiCheat": {
    "Enabled": true,
    "BanIpFromGame": true,
    "EnableGameFlowChecks": true,
    "EnableMustBeHostChecks": true
  },
  "Compatibility": {
    "AllowFutureGameVersions": false,
    "AllowVersionMixing": false
  },
  "Plugins": {
    "LoadDirectory": "plugins",
    "LibraryDirectory": "libraries"
  },
  "Serilog": {
    "MinimumLevel": "Debug",
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "logs/log.txt",
          "rollingInterval": "Day"
        }
      }
    ]
  }
}