services:
  web:
    build: .
    security_opt:
      - no-new-privileges:true
    restart: always
    links:
      - db
      - redis
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:3001"
    networks:
      - internal_network
      - external_network
    volumes:
      - ./files:/misskey/files
      - ./.config:/misskey/.config:ro
    deploy:
      resources:
        limits:
          memory: 16G
        reservations:
          memory: 8G
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

  redis:
    security_opt:
      - no-new-privileges:true
    restart: always
    image: valkey/valkey:7.2-alpine
    networks:
      - internal_network
    volumes:
      - ./redis:/data
    command: >
      valkey-server
      --io-threads 4
      --maxclients 20000
      --maxmemory-policy noeviction
      --hz 100
      --tcp-backlog 4096
      --no-appendfsync-on-rewrite yes
      --appendonly yes
      --appendfsync everysec
      --auto-aof-rewrite-percentage 50
      --auto-aof-rewrite-min-size 256mb
      --activerehashing yes
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 20s
      timeout: 5s
      retries: 3

  db:
    security_opt:
      - no-new-privileges:true
    restart: always
    image: postgres:15-alpine
    networks:
      - internal_network
      - backup_network
    env_file:
      - .config/docker.env
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./.config/postgresql.conf:/etc/postgresql/postgresql.conf
    command: postgres -c 'config_file=/etc/postgresql/postgresql.conf'
    sysctls:
      - kernel.shmmax=34359738368
      - kernel.shmall=8388608
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 20s
      timeout: 5s
      retries: 3

networks:
  internal_network:
    internal: true
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 9000
  external_network:
    name: external_network
    external: true
  backup_network:
    internal: true