NODE_ENV=production
SECRET_KEY=
UTILS_SECRET=
URL=https://{{ outline_server_name }}
PORT=3000

# Database
DATABASE_URL=postgresql://user:pass@postgres:5432/outline?sslmode=disable
DATABASE_CONNECTION_POOL_MIN=5
DATABASE_CONNECTION_POOL_MAX=50
PGSSLMODE=disable

# Redis
REDIS_URL=redis://redis:6379

# Storage
#FILE_STORAGE=local
#FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data
FILE_STORAGE=s3
FILE_STORAGE_UPLOAD_MAX_SIZE=104857600
FILE_STORAGE_IMPORT_MAX_SIZE=104857600
FILE_STORAGE_WORKSPACE_IMPORT_MAX_SIZE=209715200

# MinIO Settings
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-3
AWS_ENDPOINT=https://{{ minio_api_server_name }}
AWS_S3_UPLOAD_BUCKET_URL=https://{{ minio_api_server_name }}
AWS_S3_UPLOAD_BUCKET_NAME={{ minio_bucket_for_outline_name }}
AWS_S3_FORCE_PATH_STYLE=true

# Debug
LOG_LEVEL=debug
DEBUG=http,aws,s3,outline*

# OIDC with Zitadel
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_AUTH_URI=https://{{ zitadel_server_name }}/oauth/v2/authorize
OIDC_TOKEN_URI=https://{{ zitadel_server_name }}/oauth/v2/token
OIDC_USERINFO_URI=https://{{ zitadel_server_name}}/oidc/v1/userinfo
OIDC_USERNAME_CLAIM=preferred_username
OIDC_DISPLAY_NAME=Zitadel
OIDC_SCOPES=openid profile email

# Mail
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=admin@{{ domain }}
SMTP_PASSWORD=
SMTP_FROM_EMAIL=admin@{{ domain }}
SMTP_REPLY_EMAIL=admin@{{ domain }}
SMTP_SECURE=true

# Slack
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

# Performance
WEB_CONCURRENCY=8

# Security
RATE_LIMITER_ENABLED=true
RATE_LIMITER_REQUESTS=2000
RATE_LIMITER_DURATION_WINDOW=60

# Other settings
ENABLE_UPDATES=true
DEFAULT_LANGUAGE=ja_JP
ENABLE_PUBLIC_SHARING=true
