worker_processes auto;

events {
    worker_connections 1024;
}

http {
    # Docker内部DNS設定
    resolver {{ '127.0.0.11' if ansible_facts['os_family'] != 'RedHat' else '10.89.0.1' }} valid=5s;

    # Docker内部IPからの実IPを設定
    set_real_ip_from 10.0.0.0/8;
    set_real_ip_from 172.16.0.0/12;
    set_real_ip_from 192.168.0.0/16;

    # リクエストメソッドとHTTPアクセプトヘッダーに基づいて転送先を決定
    map "$request_method:$http_accept" $proxpass {
        # デフォルトはlemmy-uiへ
        default "http://lemmy-ui:1234";

        # ActivityPub/LinkedData JSONリクエストはlemmyへ
        "~^(?:GET|HEAD):.*?application\/(?:activity|ld)\+json" "http://lemmy:8536";

        # GET/HEAD以外はすべてlemmyへ
        "~^(?!(GET|HEAD)).*:" "http://lemmy:8536";
    }

    server {
        set $lemmy_ui "lemmy-ui:1234";
        set $lemmy "lemmy:8536";
        # Docker内部ポート
        listen 8536;

        server_name localhost;
        server_tokens off;

        # アップロード制限
        client_max_body_size 20M;

        # 実クライアントIPを転送
        include proxy_params;

        # フロントエンド一般リクエスト
        location / {
            proxy_pass $proxpass;
            rewrite ^(.+)/+$ $1 permanent;
        }

        # security.txt
        location = /.well-known/security.txt {
            proxy_pass "http://$lemmy_ui";
        }

        # バックエンド
        location ~ ^/(api|pictrs|feeds|nodeinfo|.well-known|version|sitemap.xml) {
            proxy_pass "http://$lemmy";
            include proxy_params;
        }
    }
}