services:
  element:
    image: vectorim/element-web:{{ element_tag }}
    container_name: element
    restart: always
    volumes:
      - ./element-config/config.{{ element_server_name }}.json:/app/config.{{ element_server_name }}.json
    ports:
      - "8081:80"
