{
    "m.homeserver": {
        "base_url": "https://{{ synapse_server_name }}",
        "server_name": "{{ synapse_server_name }}"
    },
    "m.identity_server": {
        "base_url": "https://vector.im"
    },
    "org.matrix.msc4143.rtc_foci": [
        {
            "type": "livekit",
            "livekit_service_url": "https://{{ livekit_jwt_server_name }}"
        }
    ]
}
